:root {
    --w-full: 100%;
    --w-screen: 100vw;
    --h-full: 100%;
    --h-screen: 100vh;

    --h-header: 90px;
    --br-radius-sm : 5px;
    --br-radius-md : 10px;
    --br-radius-lg : 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-regular);
    line-height: 1.2;
}

h1 { font-size: 50px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 15px; }
h5 { font-size: 18px; }
h6 { font-size: 10px; }

ul li { list-style: none; }
a { text-decoration: none; }
a:hover { cursor: pointer; }

/*******************************/
    /* REUSABLE COMPONENTS */
/*******************************/

.container {
    max-width: 1170px;
    margin-inline: auto;
    padding-inline: 15px;
}


/* \\ END OF REUSABLE COMPONENTS */
